<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
   <whitelist processUncoveredFilesFromWhitelist="true">
       <directory suffix=".php">../src</directory>
   </whitelist>
    </filter>
    <php>
       <ini name="error_reporting" value="-1"/>
       <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
